<h2>About</h2>
<p>Fur Baby Fun-Time World is the premier doggy daycare provider in the city of New Orleans.  Our state-of-the-art facility has large outdoor playgrounds as well as generour indoor play areas.</p>

<h2>Services</h2>
<p>We provide daycare services from 7am to 8pm.  We also provide dog wash services and sell select products for your fur baby!</p>

<h2>Location</h2>
<p>We are located on a large lot in Mid-City.</p>

<h2>Follow us!</h2>
<a href="#"><i class="fa fa-facebook fa-3x"></i></a>
<a href="#"><i class="fa fa-twitter fa-3x"></i></a>
<a href="#"><i class="fa fa-github fa-3x"></i></a>
<a href="#"><i class="fa fa-rss fa-3x"></i></a>
<a href="#"><i class="fa fa-instagram fa-3x"></i></a>