</div>
<div class="jumbotron">
  <h1>Fur Baby Fun-Time World</h1>
  <h3>Where your fur babies get to play with their friends!</h3>
  <p><%= link_to "Learn more", pages_about_url, class: "btn btn-success btn-lg", role: "button" %>
  </p>
</div>